<h2>Welcome the Slarest Door</h2>
<p>秘密の暗号を入力してください。</p>
<div class="col-sm-4">
  <%= form_tag(sessions_path, method: :post) do %>
    <%= text_field :sessions, :key %>
    <%= submit_tag "送信" %>
  <% end %>
</div>
<div class="col-sm-6">
  <% if flash[:notice] %>
    <h4 class="text-danger"><%= flash[:notice] %></h4>
  <% end %>
</div>
