<h2>Welcome the Slarest Door</h2>
<p>Slackでログインしてください</p>
<div class="col-sm-4">
  <%= form_tag(new_session_path, method: :get) do %>
    <%= submit_tag "Slack" %>
  <% end %>
</div>
<div class="col-sm-6">
  <% if flash[:notice] %>
    <h4 class="text-danger"><%= flash[:notice] %></h4>
  <% end %>
</div>
